.LoginForm {
  margin: 2.19rem 0;
  padding: 0 1.25rem;
}

.LoginForm-title {
  margin-bottom: 1.06rem;
  line-height: 1.75rem;
}

.LoginForm-input {
  display: block;
  margin-bottom: 1.25rem;
}

.LoginForm-mistake {
  margin-bottom: 1.19rem;
  line-height: 1.125rem;
  color: red;
}